<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand pl-5 ml-5" href="#">
    <img src="../assets/img/logo.png" width="110" height="40" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarCollapse" class="collapse navbar-collapse mt-1">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="color: #df495b;">
          CITIES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Mumbai</a>
          <a class="dropdown-item" href="#">Delhi</a>
          <a class="dropdown-item" href="#">Chennai</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="color: #df495b;">
          EXPLORE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Plan An Event</a>
          <a class="dropdown-item" href="#">Corporate Offiste</a>
        </div>
      </li>
      <li class="nav-item"><a _ngcontent-hqc-c126="" routerlink="/partner-with-us" class="nav-link font-14 hedaer-title"
          style="text-transform: uppercase;" href="/partner-with-us" style="color: #df495b; margin-right: 3px;">Partner
          With
          Us</a></li>
      <li class="nav-item font-14" style="padding-right: 26px !important;"><a _ngcontent-hqc-c126=""
          routerlink="/offers" target="_blank" class="nav-link hedaer-title" style="text-transform: uppercase;"
          href="/offers" style=" background-color: #df495b;  color: white;"><img _ngcontent-hqc-c126=""
            src="../assets/img/offer-icon.svg" alt="" class="discount_white"> Offers</a></li>
      <li class="nav-item "><button _ngcontent-hqc-c126="" style=" background-color: #df495b;  color: white;"
          id="loginModalBtn" data-toggle="modal" data-target="#userLogin" class="btn font-14 hedaer-title"><img
            src="../assets/img/user_icon_white.svg" style="display: inline; background-color: #df495b; color: white;"
            alt="" width="25" class="usericon_white"> LOGIN </button></li>
    </ul>
  </div>
</nav>

<hr style="height:10px;border-width:0;color:gray;background-color:#df495b">

<!-- Banner with search bar -->
<section class="search-header" style="margin-top: -16px;">
  <div class="container-fluid header-box" style="height: 90vh;">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="video-box">
        <div id="homeCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class=" w-100" src="../assets/img/img1.jpg">
            </div>
            <div class="carousel-item">
              <img class=" w-100" src="../assets/img/img1.jpg">
            </div>
            <div class="carousel-item">
              <img class=" w-100" src="../assets/img/img1.jpg">
            </div>
          </div>
          <ul class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="indicators active"></li>
            <li data-target="#homeCarousel" data-slide-to="1" class="indicators"></li>
            <li data-target="#homeCarousel" data-slide-to="2" class="indicators"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container search-container-fotm" style="position: relative;
    z-index: 10;">
      <div class="row search-form" style="box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
      position: relative;
      background-color: #fff;
      border-radius: 4px;">
        <div class="col-lg-4 col-md-3 col-sm-12 input-text location-search">
          <div class="vwo-search-box"><label>Location</label><input type="text" id="vwo-mobile-city"
              name="vwo-city-name" placeholder="Where are you travelling to/from?" autocomplete="off"
              autocapitalize="none" class="form-control font-16 vwo-search-dropdown text-capitalize"></div>

        </div>
        <div class="col-lg-4 col-md-3 col-sm-6 input-text">
          <div class="form-group"><label class="font-14">Date</label><input type="text" readonly="" id="date-range"
              autocomplete="off" required="" bsdaterangepicker="" placeholder="Check-in / Check-out"
              class="font-16 form-control bg-white">
            <!---->
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 input-text">
          <div class="form-group"><label class="font-14">Guest</label><input type="text" readonly=""
              data-toggle="dropdown" class="form-control sperson dropdown-toggle bg-white font-16"
              placeholder="1 Guest">
            <ul role="menu" class="dropdown-menu openMenu openMenu-new" style="width: 93%;">
              <li><label>Adults</label>
                <div style="display: inline-flex; padding-left: 22px;"><input type="button" value="-" field="adults"
                    class="bg-white qtyminus qtybtnmn"><input type="text" name="adults" id="adultVal" readonly=""
                    class="bg-white qty"><input type="button" value="+" field="adults" class="bg-white qtyplus qtybtn">
                </div>
              </li>
              <li><label>Children </label>
                <div style="display: inline-flex; padding-left: 8px;"><input type="button" value="-" field="adults"
                    class="bg-white qtyminus qtybtnmn"><input type="text" id="childVal" name="childs" readonly=""
                    class="qty"><input type="button" value="+" field="childs" class="qtypluschild qtybtn"></div><span
                  class="age">Age
                  5-12</span>
              </li>
              <div class="col-xs-6 p-t-5"><a class="pull-left guestcancelbtn font-15"
                  style="display: inline; clear: none; text-shadow: none; padding-left: 12px; text-decoration: underline;">Cancel</a>
              </div>
              <div class="col-xs-6"><a class="pull-right text-vista-red font-15"
                  style="display: inline; clear: none; text-shadow: none; padding-right: 12px; color: #df495b;">Apply</a>
              </div>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 search-btn font-20" style="margin-top: 30px;">
          <button class="btn font-weight-bold" style="background-color: #df495b; color: white;">SEARCH</button>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- mage Carousel -->
<section  class="m-t-75" style="position: relative; top: 200px;">
  <div  class="container">
    <div  class="row mt-3 mb-4 justify-content-center my-3">
      <h3  class="text-center my-2 mt-5 h2-26-redhat-bold">Explore the finest Homes in the most
        Desirable Destinations</h3>
    </div>
    <div  class="row justify-content-center subcontent mb-5">
      <div  class="col-10">
        <h6  class="text-center p1-dark-16">Skip the cookie-cutter hotel stays for the charm and
          warmth of our luxury holiday homes and personalized experiences. With over 500+ homes in 50+ destinations,
          invite you to experience the authenticity of India without compromising on hospitality.</h6>
      </div>
    </div>
    <div  id="carouselExampleControls" data-interval="5000" data-ride="carousel"
      class="carousel slide">
      <div  class="carousel-inner">
        <div  class="carousel-item">
          <div  class="w-100"><a  target="_blank"
              href="/uae/villas-in-dubai">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Jaipur" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/home_page/Dubai/Desktop+dubai+carousel+.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Dubai</h4>
              </div>
            </a><a  target="_blank" href="/maharashtra/villas-in-mumbai">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Jaipur" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Mumbai_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Mumbai</h4>
              </div>
            </a><a  target="_blank" href="/goa/villas-in-goa">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="goa" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Goa_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Goa</h4>
              </div>
            </a><a  target="_blank" href="/delhi/villas-in-new delhi">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Mahableshwar" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Delhi_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Delhi</h4>
              </div>
            </a><a  target="_blank" href="/karnataka/villas-in-bangalore">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Lavasa" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Bangalore_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Bangalore</h4>
              </div>
            </a></div>
        </div>
        <div  class="carousel-item active">
          <div  class="w-100"><a  target="_blank"
              href="/rajasthan/villas-in-udaipur">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Udaipur" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Udaipur_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Udaipur</h4>
              </div>
            </a><a  target="_blank" href="/maharashtra/villas-in-lonavala">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Lonavala" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Lonavala_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Lonavala</h4>
              </div>
            </a><a  target="_blank" href="/maharashtra/villas-in-alibaug">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="alibaug" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Alibaug_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Alibaug</h4>
              </div>
            </a><a  target="_blank" href="/himanchal-pradesh/villas-in-chail">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="ChailKasauli" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Chail-Kasauli.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Chail-Kasauli</h4>
              </div>
            </a><a  target="_blank" href="/himachal-pradesh/villas-in-kullu">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Kullu" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Kullu_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Kullu</h4>
              </div>
            </a></div>
        </div>
        <div  class="carousel-item">
          <div  class="w-100"><a  target="_blank"
              href="/maharashtra/villas-in-nashik">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Nashik" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Nashik_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Nashik</h4>
              </div>
            </a><a  target="_blank" href="/karnataka/villas-in-coorg">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Coorg" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Coorg_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Coorg</h4>
              </div>
            </a><a  target="_blank" href="/uttarakhand/villas-in-dehradun">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Dehradun" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Dehradun_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Dehradune</h4>
              </div>
            </a><a  target="_blank" href="/rajasthan/villas-in-jaipur">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Jaipur" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Jaipur_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Jaipur</h4>
              </div>
            </a><a  target="_blank" href="/himanchal-pradesh/villas-in-shimla">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Shimla" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Shimla_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Shimla</h4>
              </div>
            </a></div>
        </div>
        <div  class="carousel-item">
          <div  class="w-100"><a  target="_blank"
              href="/tamil nadu/villas-in-ooty">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Ooty" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Ooty.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Ooty</h4>
              </div>
            </a><a  target="_blank" href="/maharashtra/villas-in-pune">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Udaipur" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/pune.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Pune</h4>
              </div>
            </a><a  target="_blank" href="/uttarakhand/villas-in-nainital">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Nainital" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Nainital_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Nainital</h4>
              </div>
            </a><a  target="_blank" href="/maharashtra/villas-in-mahabaleshwar">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Mahableshwar" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Mahabaleshwar_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Mahabaleshwar</h4>
              </div>
            </a><a  target="_blank" href="/maharashtra/villas-in-lavasa">
              <div  class="vacation-img carousel-multi-img-style"><img 
                  alt="Lavasa" class="lazy img-responsive rounded-circle center-block ng-lazyloaded"
                  src="https://img.vistarooms.com/angular_assets/common/top-destination/Desktop_city/Lavasa_1.jpg">
                <h4  class="text-center h4-18-redhat-medium mt-3">Lavasa</h4>
              </div>
            </a></div>
        </div>
      </div>
      <ul  class="carousel-indicators" style="position: relative; top: 10px;">
        <li  data-target="#carouselExampleControls" data-slide-to="0" id="indicator1"
          class="indicators" style="background-color: #df495b;"></li>
        <li  data-target="#carouselExampleControls" data-slide-to="1" id="indicator2"
          class="indicators active" style="background-color: #df495b;"></li>
        <li  data-target="#carouselExampleControls" data-slide-to="2" id="indicator3"
          class="indicators" style="background-color: #df495b;"></li>
        <li  data-target="#carouselExampleControls" data-slide-to="3" id="indicator3"
          class="indicators" style="background-color: #df495b;"></li>
      </ul>
    </div>
  </div>
</section>

<!-- Static Image section(Luxury collection) -->
<section  style="position: relative; top: 180px;">
  <div  class="container">
    <div  class="mb-5 mt-5 pt-4">
      <div  class="row">
        <div  appluxuryobserver="" class="col-12"><a  target="_blank"><img
               alt="" class="luxury-img"
              src="https://img.vistarooms.com/angular_assets/common/home_page/Dubai/desktop+dubai+banner+homepage.jpg"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Why choose vista section -->
<section class="m-t-115 mb-4 text-center" style="position: relative; top: 200px;">
  <div class="vist pb-4">
    <div class="container">
      <h2 class="main-title pb-4 h2-26-redhat-bold">Why Choose Vista For Your Ideal Getaway
      </h2>
      <div class="row icons">
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"><img alt="icon"
            width="70" height="60" style="margin-left: 70px;"
            src="https://img.vistarooms.com/angular_assets/desktop/images/Only+1+in+100+Homes++are+Selected.svg">
          <p class="para text-center p1-16-redhat-medium">Only 1 in 50 homes are accepted</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"><img _ngcontent-uml-c113=""
            src="../assets/img/location.svg" alt="icon" width="70" height="60" style="margin-left: 70px;">
          <p class="para text-center p1-16-redhat-medium">500+ Handpicked homes across India
          </p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"><img _ngcontent-uml-c113=""
            src="../assets/img/guest.svg" alt="icon" width="70" height="60" style="margin-left: 70px;">
          <p class="para text-center p1-16-redhat-medium">Hosted over 250,000+ happy guests
          </p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"><img _ngcontent-uml-c113=""
            src="../assets/img/Home.svg" alt="icon" width="70" height="60" style="margin-left: 70px;">
          <p class="para text-center p1-16-redhat-medium">Homes are regularly audited for
            200+
            factors</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"><img _ngcontent-uml-c113=""
            src="https://img.vistarooms.com/angular_assets/desktop/images/We+empower+the++local+community.svg" alt="alt"
            width="70" height="60" style="margin-left: 70px;">
          <p class="para text-center p1-16-redhat-medium">We empower the local community</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Holiday homes (Image grid) -->
<section  class="mt-5 mb-4" style="position: relative; top: 180px;">
  <div  class="container">
    <div class="row">
      <div  class="col-lg-12 col-md-12 col-sm-12">
        <h3  class="text-center h2-26-redhat-bold">Our Featured Holiday Homes</h3>
      </div>
      <div  class="col-lg-12 col-md-12 col-sm-12 mt-2 mb-4">
        <p class="text-center pb-4 p1-dark-16">We carefully handpick and manage all our
          homes, to ensure you have a hassle-free, pleasant stay.</p>
      </div>
    </div>
    <div  class="row mt-3">
      <div  class="col-lg-6 col-md-6 col-sm-12"><a >
          <div  class="prop-img img-con-1"
            style="background-image: url(&quot;https://img.vistarooms.com/gallery/amara-villa-6b8218.jpg&quot;);">
            <div  class="grid-inner-container p-2">
              <div >
                <div class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> Amara
                  Villa
                </div>
                <div  class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per
                  Night </div>
              </div>
              <div >
                <div class="d-inline-block overflow-nowrap w-50 p2-dark-14"> Alibaug,
                  Maharashtra
                </div>
                <div class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium">
                  ₹ 67,000 </div>
              </div>
            </div>
          </div>
        </a></div>
      <div _ngcontent-uml-c114="" class="col-lg-3 col-md-3 col-sm-12"><a _ngcontent-uml-c114="">
          <div _ngcontent-uml-c114="" class="prop-img img-con-2"
            style="background-image: url(&quot;https://img.vistarooms.com/gallery/casa-sol-one-70fea0.jpg&quot;);">
            <div _ngcontent-uml-c114="" class="grid-inner-container p-2">
              <div _ngcontent-uml-c114="">
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> Casa De
                  Joy
                </div>
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per
                  Night </div>
              </div>
              <div _ngcontent-uml-c114="">
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 p2-dark-14"> Nerul, Goa
                </div>
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium">
                  ₹ 61,000 </div>
              </div>
            </div>
          </div>
        </a></div>
      <div _ngcontent-uml-c114="" class="col-lg-3 col-md-3 col-sm-12"><a _ngcontent-uml-c114="">
          <div _ngcontent-uml-c114="" class="prop-img img-con-3"
            style="background-image: url(&quot;https://img.vistarooms.com/angular_assets/common/property_grid/casa-ela-11-f23935.jpg&quot;);">
            <div _ngcontent-uml-c114="" class="grid-inner-container p-2">
              <div _ngcontent-uml-c114="">
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> Casa
                  Ela 11
                </div>
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per
                  Night </div>
              </div>
              <div _ngcontent-uml-c114="">
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 p2-dark-14"> Lonavala,
                  Maharashtra </div>
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium">
                  ₹ 20,750 </div>
              </div>
            </div>
          </div>
        </a></div>
    </div>
    <div _ngcontent-uml-c114="" class="row mt-4">
      <div _ngcontent-uml-c114="" class="col-lg-3 col-md-3 col-sm-12"><a _ngcontent-uml-c114="">
          <div _ngcontent-uml-c114="" class="prop-img img-con-4"
            style="background-image: url(&quot;https://img.vistarooms.com/angular_assets/common/property_grid/open-house-f831ee.webp&quot;);">
            <div _ngcontent-uml-c114="" class="grid-inner-container p-2">
              <div _ngcontent-uml-c114="">
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> Open
                  House
                </div>
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per
                  Night </div>
              </div>
              <div _ngcontent-uml-c114="">
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 p2-dark-14"> Pune,
                  Maharashtra
                </div>
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium">
                  ₹ 19,250 </div>
              </div>
            </div>
          </div>
        </a></div>
      <div _ngcontent-uml-c114="" class="col-lg-3 col-md-3 col-sm-12"><a _ngcontent-uml-c114="">
          <div _ngcontent-uml-c114="" class="prop-img img-con-5"
            style="background-image: url(&quot;https://img.vistarooms.com/angular_assets/common/property_grid/pranaam-4ea2cb.webp&quot;);">
            <div _ngcontent-uml-c114="" class="grid-inner-container p-2">
              <div _ngcontent-uml-c114="">
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> Pranaam
                </div>
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per
                  Night </div>
              </div>
              <div _ngcontent-uml-c114="">
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 p2-dark-14"> Alibaug,
                  Maharashtra
                </div>
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium">
                  ₹ 45,500 </div>
              </div>
            </div>
          </div>
        </a></div>
      <div _ngcontent-uml-c114="" class="col-lg-6 col-md-6 col-sm-12"><a _ngcontent-uml-c114="">
          <div _ngcontent-uml-c114="" class="prop-img img-con-6"
            style="background-image: url(&quot;https://img.vistarooms.com/gallery/mr-lonandkars-villa-adc256.jpg&quot;);">
            <div _ngcontent-uml-c114="" class="grid-inner-container p-2">
              <div _ngcontent-uml-c114="">
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> The
                  Mansion
                </div>
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per
                  Night </div>
              </div>
              <div _ngcontent-uml-c114="">
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 p2-dark-14"> Kasauli,
                  Himachal
                  Pradesh </div>
                <div _ngcontent-uml-c114="" class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium">
                  ₹ 28,000 </div>
              </div>
            </div>
          </div>
        </a></div>
    </div>
    <div _ngcontent-uml-c114="" class="row mt-4">
      <div _ngcontent-uml-c114="" class="col-lg-6 col-md-6 col-sm-12"><a _ngcontent-uml-c114="">
          <div _ngcontent-uml-c114="" class="prop-img img-con-7"
            style="background-image: url(&quot;https://img.vistarooms.com/gallery/i0akabtcmnavv7hodwuq.jpg&quot;);">
            <div _ngcontent-uml-c114="" class="grid-inner-container p-2">
              <div >
                <div  class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> The
                  Rain
                </div>
                <div  class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per
                  Night </div>
              </div>
              <div>
                <div  class="d-inline-block overflow-nowrap w-50 p2-dark-14"> Alleppey, Kerala
                </div>
                <div class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium">
                  ₹ 39,000 </div>
              </div>
            </div>
          </div>
        </a></div>
      <div  class="col-lg-3 col-md-3 col-sm-12"><a>
          <div  class="prop-img img-con-8"
            style="background-image: url(&quot;https://img.vistarooms.com/angular_assets/common/property_grid/umber-villa-d0e570.webp&quot;);">
            <div class="grid-inner-container p-2">
              <div >
                <div class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> Umber
                  Villa
                </div>
                <div  class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per
                  Night </div>
              </div>
              <div >
                <div  class="d-inline-block overflow-nowrap w-50 p2-dark-14"> Alibaug,
                  Maharashtra
                </div>
                <div  class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium">
                  ₹ 60,375 </div>
              </div>
            </div>
          </div>
        </a></div>
      <div  class="col-lg-3 col-md-3 col-sm-12"><a>
          <div class="prop-img img-con-9"
            style="background-image: url(&quot;https://img.vistarooms.com/angular_assets/common/property_grid/the-winter-line-6554e0.webp&quot;);">
            <div  class="grid-inner-container p-2">
              <div >
                <div  class="d-inline-block overflow-nowrap w-50 p1-16-redhat-medium"> The
                  Winter
                  Line </div>
                <div class="d-inline-block overflow-nowrap w-50 text-right p2-light-14"> Per
                  Night </div>
              </div>
              <div >
                <div class="d-inline-block overflow-nowrap w-50 p2-dark-14"> Kasauli,
                  Himachal
                  Pradesh </div>
                <div  class="d-inline-block overflow-nowrap w-50 text-right p1-16-redhat-medium">
                  ₹ 25,000 </div>
              </div>
            </div>
          </div>
        </a></div>
    </div>
  </div>
</section>


<!-- User Detail -->
<section class="containter" style="position: relative; top: 180px;">
 <app-user></app-user>
</section>