@media (min-width: 1100px){
.carousel-multi-img-style{
    width: 17%;
}
}

.carousel-multi-img-style {
    width: 18%!important;
    margin-left: 20px;
    display: inline-block;
}

.vacation-img img {
    max-height: 225px!important;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}

.rounded-circle {
    border-radius: 50%!important;
}

img, svg {
    vertical-align: middle;
}

.luxury-img {
    width: 100%;
    height: auto;
}